<!--====== PRINICNG START ======-->

<section id="pricing" class="pricing-area ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section-title text-center pb-25">
                    <h3 class="title">AFILIATE Y GANA</h3>
                    <p class="text">Analisa las Estadisticas Y Gana Dinero!</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="pricing-style mt-30">
                    <div class="pricing-icon text-center">
                        <img src="https://www.adslzone.net/app/uploads-adslzone.net/2019/07/estadFutbol.jpg" alt="">
                    </div>
                    <div class="pricing-header text-center">
                        <h5 class="sub-title">Basic</h5>
                        <p class="month"><span class="price">$ 199</span>/Colombianos</p>
                    </div>
                    <div class="pricing-list">
                        <ul>
                            <li><i class="lni lni-check-mark-circle"></i> Regístrate Ahora</li>
                            <li><i class="lni lni-check-mark-circle"></i> PASO 1 / 3</li>
                        </ul>
                    </div>
                    <div class="pricing-btn rounded-buttons text-center">
                        <a class="main-btn rounded-one" href="#">ENTER</a>
                    </div>    
                </div> <!-- pricing style one -->
            </div>
            
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="pricing-style mt-30">
                    <div class="pricing-icon text-center">
                        <img src="https://cloudfront-us-east-1.images.arcpublishing.com/infobae/WQLDV63B3VCTRPAKFVR7DUKQWE.jpg" alt="">
                    </div>
                    <div class="pricing-header text-center">
                        <h5 class="sub-title">Pro</h5>
                        <p class="month"><span class="price">$ 399</span>/colombia</p>
                    </div>
                    <div class="pricing-list">
                        <ul>
                            <li><i class="lni lni-check-mark-circle"></i> Regístrate Ahora</li>
                            <li><i class="lni lni-check-mark-circle"></i> PASO 1 / 3</li>
                        </ul>
                    </div>
                    <div class="pricing-btn rounded-buttons text-center">
                        <a class="main-btn rounded-one" href="#">ENTER</a>
                    </div>
                </div> <!-- pricing style one -->
            </div>
            
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="pricing-style mt-30">
                    <div class="pricing-icon text-center">
                        <img src="https://fondosmil.com/fondo/7020.jpg" alt="">
                    </div>
                    <div class="pricing-header text-center">
                        <h5 class="sub-title">Enterprise</h5>
                        <p class="month"><span class="price">$ 699</span>/Colombianos</p>
                    </div>
                    <div class="pricing-list">
                        <ul>
                            <li><i class="lni lni-check-mark-circle"></i> Regístrate Ahora</li>
                            <li><i class="lni lni-check-mark-circle"></i> PASO 1 / 3</li>
                        </ul>
                    </div>
                    <div class="pricing-btn rounded-buttons text-center">
                        <a class="main-btn rounded-one" href="#">ENTER</a>
                    </div>
                </div> <!-- pricing style one -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PRINICNG ENDS ======-->
