<!--====== SLIDER PART START ======-->

<section id="home" class="slider_area">
    <div id="carouselThree" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselThree" data-slide-to="0" class="active"></li>
            <li data-target="#carouselThree" data-slide-to="1"></li>
            <li data-target="#carouselThree" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="carousel-item active" style="background-color: rgb(8, 8, 8);">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="slider-content">
                                <h1 class="title">LA CASA DEL DEPORTE</h1>
                                <p class="text">Apueste de manera segura y prueba el sabor del Deporte</p>
                                <ul class="slider-btn rounded-buttons">
                                    <li><a class="main-btn rounded-one" href="#">EMPEZAR</a></li>
                                    <li><a class="main-btn rounded-two" href="#">REGISTRAR</a></li>
                                </ul>
                            </div>
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
                <div class="slider-image-box d-none d-lg-flex align-items-end">
                    <div class="slider-image">
                        <img style="position: relative;"
                            src="https://i.pinimg.com/736x/1e/e5/24/1ee524418740c30f6ee092696dab75f8.jpg" width="1900"
                            height="880">
                    </div> <!-- slider-imgae -->
                </div> <!-- slider-imgae box -->
            </div> <!-- carousel-item -->

            <div class="carousel-item" style="background-color: rgb(10, 10, 10);">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="slider-content">
                                <h1 class="title">ANALISIS DEPORTIVO</h1>
                                <p class="text">Todo sobre el rendimiento de tu equipo.</p>
                                <ul class="slider-btn rounded-buttons">
                                    <li><a class="main-btn rounded-one" href="#">EMPEZAR</a></li>
                                    <li><a class="main-btn rounded-two" href="#">REGISTRAR</a></li>
                                </ul>
                            </div> <!-- slider-content -->
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
                <div class="slider-image-box d-none d-lg-flex align-items-end">
                    <div class="slider-image">
                        <img src="https://w0.peakpx.com/wallpaper/917/85/HD-wallpaper-roberto-firmino-brazilian-footballer-liverpool-fc-red-creative-background-attacking-midfielder-football-liverpool-fc-2020-football-players.jpg"
                            alt="Hero" width="1000" height="800">
                    </div> <!-- slider-imgae -->
                </div> <!-- slider-imgae box -->
            </div> <!-- carousel-item -->

            <div class="carousel-item" style="background-color: rgb(13, 13, 14);">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="slider-content">
                                <h1 class="title">NOTICIAS DE QATAR</h1>
                                <p class="text">La FIFA reportó este martes que recibió un solicitud de 17 millones de
                                    entradas en la primera fase de venta de boletas para el Mundial de Qatar 2022</p>
                                <ul class="slider-btn rounded-buttons">
                                    <li><a class="main-btn rounded-one" href="#">EMPEZAR</a></li>
                                    <li><a class="main-btn rounded-two" href="#">REGISTRAR</a></li>
                                </ul>
                            </div> slider-content
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
                <div class="slider-image-box d-none d-lg-flex align-items-end">
                    <div class="slider-image">
                        <img src="https://i.pinimg.com/originals/b0/53/95/b053954552619515df58047c9ca72778.jpg"
                            alt="Hero" width="1000" height="1000">
                    </div> <!-- slider-imgae -->
                </div> <!-- slider-imgae box -->
            </div> <!-- carousel-item -->
        </div> */

        <a class="carousel-control-prev" href="#carouselThree" role="button" data-slide="prev">
            <i class="lni lni-arrow-left"></i>
        </a>
        <a class="carousel-control-next" href="#carouselThree" role="button" data-slide="next">
            <i class="lni lni-arrow-right"></i>
        </a>
    </div>
</section>

<!--====== SLIDER PART ENDS ======-->


<!-- assets/images/slider/1.png -->